:root {
  --lightgreen: #606c38;
  --darkgreen: #283618;
  --cream: #fefae0;
  --lightorange: #dda15e;
  --darkorange: #bc6c25;
}
html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h5{
  letter-spacing: 10px;
  
}

main {
  margin-top: 100px;
}
.navBrand {
  letter-spacing: 10px;
  text-transform:uppercase;
}

