:root {
  --lightgreen: #606c38;
  --darkgreen: #283618;
  --cream: #fefae0;
  --lightorange: #dda15e;
  --darkorange: #bc6c25;
  --green:#0b3008;
}
html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h5{
  letter-spacing: 10px;
}

header {
  margin-top: 150px;
}

main {
  margin-top: 250px;
  position: relative;
  min-height: 60vh;
}
.navBrand {
  letter-spacing: 10px;
  text-transform:uppercase;
}

.btn-green {
  background-color: var(--green);
}
